body {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flex-baseline-center {
  display: flex;
  align-items: center;
}

.ant-modal .ant-modal-header {
  padding-right: 25px;
}

:where(.css-dev-only-do-not-override-ysn3a3).ant-form-item {
  margin-bottom: 8px;
}
